h1{
    padding: 10px;
}
.row{
    display: flex;
    height: 200px;
    justify-content: space-evenly;
}
.col{
    flex: 1;
    background-color: cornsilk;
    height: 200px;
    margin: 20px;
}
.col-2{
    flex: 2;
    background-color:cornsilk;
    height: 200px;
    margin: 20px;
}
.col-3{
    background-color:cornsilk;
    flex: 3;
    margin: 20px;
    height: 200px;
}